@import url('./base.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form {
  display: block;
}
.query-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 8px;
  border-radius: 8px;
}
.query-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.submit-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
}
.submit-btn:hover {
  background: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  padding: 24px 156px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 260px;
  overflow: hidden;
  border: 1px solid #808080;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.gallery-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
}
.gallery-item-info ul {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-item-info li {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  align-self: center;
}
.load-more-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px;
  width: 125px;
  height: 40px;
  margin-bottom: 24px;
}
.load-more-btn:hover {
  background: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #212121;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
